<div class="footer-sec">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color:#330066"
    >
        <!-- Grid container -->
        <div class="container1">
            <!-- Section: Links -->

            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->

                    <div class="col-lg-4 ">
                        <img src="https://i.stack.imgur.com/NjEq9.png" alt="Icon" class="footer-icon">
                        <h5 class="footer-title text-uppercase ">Contact Us</h5>
                        <div class="white-bar"></div>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Find nearest bank</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Help line number</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Fraud & Security</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Need more help ?</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Ask Mario</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 ">
                        <img src="https://cdn4.vectorstock.com/i/1000x1000/93/48/award-icon-medal-achievement-concepts-vector-22779348.jpg" alt="Icon" class="footer-icon">
                        <h5 class="footer-title text-uppercase ">Media Center</h5>
                        <div class="white-bar"></div>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Corporate Profile</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Vision and Values</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Awards and Recognition</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Press Release</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Gallery</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 ">
                        <img src="https://www.creativefabrica.com/wp-content/uploads/2021/03/13/technical-support-icon-Graphics-9550245-1-580x386.jpg" alt="Icon" class="footer-icon">
                        <h5 class="footer-title text-uppercase ">Help and support</h5>

                        <div class="white-bar"></div>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Support</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Security</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Service status</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Bank app</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Online Banking</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </section>
            <div class="white-bar"></div>
            <section class="text-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <a href="#!" class="text-white mx-2">Privacy & Cookies</a>
                    </div>
                    <div class="col">
                        <a href="#!" class="text-white mx-2">Career</a>
                    </div>
                    <div class="col">
                        <a href="#!" class="text-white mx-2">About</a>
                    </div>
                    <div class="col">
                        <div class="d-flex align-middle">
                            <label for="language" class="text-white mx-2">Language</label>
                            <select class="form-control mx-2 w-auto" id="language" required>
                                <option value="English">English</option>
                                <option value="Hindi">Hindi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Section: Social media -->
            <section class="mb-4 text-center">
                <!-- Facebook -->
                <a
                        class="btn btn-outline-light btn-floating m-1"
                        href="#!"
                        role="button"
                ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a
                        class="btn btn-outline-light btn-floating m-1"
                        href="#!"
                        role="button"
                ><i class="fab fa-twitter"></i
                ></a>

                <!-- Google -->
                <a
                        class="btn btn-outline-light btn-floating m-1"
                        href="#!"
                        role="button"
                ><i class="fab fa-google"></i
                ></a>

                <!-- Instagram -->
                <a
                        class="btn btn-outline-light btn-floating m-1"
                        href="#!"
                        role="button"
                ><i class="fab fa-instagram"></i
                ></a>

                <!-- Linkedin -->
                <a
                        class="btn btn-outline-light btn-floating m-1"
                        href="#!"
                        role="button"
                ><i class="fab fa-linkedin-in"></i
                ></a>

                <!-- Github -->
                <a
                        class="btn btn-outline-light btn-floating m-1"
                        href="#!"
                        role="button"
                ><i class="fab fa-github"></i
                ></a>
            </section>
            <!-- Section: Social media -->
            <div class="white-bar"></div>
        </div>
        <!-- Grid container -->

        <!-- Copyright -->

        <div class="row pb-4 ">
            <div class="col-md-6 ">
                <!-- Left-aligned copyright -->
                <div class="text-start text-white">
                    © 2020 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/">Children-Bank.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Right-aligned privacy and disclaimer -->
                <div class="text-end text-white ml-auto">
                    <a class="text-white" href="#">Privacy</a> | <a class="text-white" href="#">Disclaimer</a>
                </div>
            </div>
        </div>

    </footer>
</div>
