footer {
    background-color: #5a287d;

}
.footer-text {
text-align: center;
}
.section {
margin-bottom: 20px;
}
.links {
display: flex;
justify-content: center;
}
.social-btn {
font-size: 1.25rem;
margin: 5px;
}
.col-md-6 {
display: flex;
align-items: center;
}
.footer-title.no-underline {
 position: relative;
 display: inline-block;
 margin-bottom: 10px;
 text-decoration: none !important; 
 text-align: left;
}

.footer-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:white;
}


.list-unstyled {
text-align: left;
}
.col-lg-4 {
flex-grow: 1; /* Distribute columns evenly */
}
.white-bar {
width: 100%;
height: 2px;
background-color: white;
margin-bottom: 10px; /* Add some space between each section */
}

.container1{
Margin: 0px 0px;
padding:20px;
}
.footer-icon {
    
width: 30px; /* Adjust width as needed */
height: 30px; /* Adjust height as needed */
margin-right: 10px; /* Add spacing between the image and other content */
vertical-align: middle; /* Align the image vertically */
}
.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding: 22px 16px 14px 22px;
}

.icon {
    color: #d0b200;
    font-size: 35px;
}
.footer-sec {
        background-color: #3e4551;
        color: white;
        padding: 20px;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 100vh; /* Adjust the percentage as needed */
        display: flex;
         flex-direction: column;
         justify-content: space-between;

    }
.footer-section-mail-id {
    color: black;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.footer-section-address {
    color: black;
    font-family: "Roboto";
    font-size: 18px;
}