
<h3 style="text-align: center;padding: 50px;font-size: 1.5rem;text-decoration: underline;text-decoration-color:  #5a287d;">Offerings</h3>
<div class="card-group">
    <div class="card border-0" >
       <img class="card-img-top" src="../../../assets/cards.png" alt="" >
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Choose from Our Cards</h3>
      </div>
    </div>
    <div class="card border-0" >
      <img class="card-img-top" src="../../../assets/Online banking.png" alt="Card image cap" >
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Login To Online Banking</h3> 
      </div>
    </div>
    <div class="card border-0" >
      <img class="card-img-top" src="../../../assets/Service support.png" alt="Card image cap" >
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Customer Support</h3>
      </div>
    </div>
  </div>
  